<!-- Adon Scripts -->
	<!-- Core -->
	<script src="/plugins/jquery/dist/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
</html>