</div>
	</div>
	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Adon Scripts -->
	<!-- Core -->
	<script src="/plugins/jquery/dist/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Optional JS -->
	<script src="/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="/plugins/chart.js/dist/Chart.extension.js"></script>

	<!-- Data tables -->
	<script src="/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatable/dataTables.bootstrap4.min.js"></script>

	<!-- Fullside-menu Js-->
	<script src="/plugins/toggle-sidebar/js/sidemenu.js"></script>

	<!-- Custom scroll bar Js-->
	<script src="/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Adon JS -->
	<script src="/js/custom.js"></script>
</body>

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
</html>