<%- include ('./partials/authorityHeader.ejs') %>

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<h3 class="mb-sm-0">Authourization Dashboard</h3>
								<!-- <ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#"><i class="fe fe-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">Basic Forms</li>
								</ol> -->
							</div>

							<div class="card shadow">
								<div class="card-body">
						<form action="/dashboard/authority" method="POST">
						<div class="form-group mb-0">
						<!-- <div id="temptest" class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">User Details</h2>
										</div>
										<!-- <div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-label">Enter Name</label>
														<input type="text" class="form-control" name="name" placeholder="Enter name here">
													</div>

													<div class="form-group">
														<label class="form-label">Mail Id</label>
														<input type="text" class="form-control" name="email" placeholder="Enter mail id here">
													</div>

													<div class="form-group">
														<label class="form-label">Phone Number</label>
														<input type="text" class="form-control" name="phone" placeholder="Enter phone number here">
													</div>
													
													
												</div>
											</div>

											
											
										</div>
										 
							</div> -->
							<!-- <div class="btn-group mt-1 mb-1">
								<button style="width:150px; height: 50px;"type="button" id="addNew" class="btn btn-danger">Add new</button>
								<button style="width:50px; height: 50px;" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
							<div class="dropdown-menu">
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck1" type="checkbox">
									<label class="custom-control-label" for="cardCheck1">Aadhar Card</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck2" type="checkbox" >
									<label class="custom-control-label" for="cardCheck2">Driving Licence</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck3" type="checkbox" >
									<label class="custom-control-label" for="cardCheck3">Passport</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck4" type="checkbox" >
									<label class="custom-control-label" for="cardCheck4">Pan Card</label>
								</div>
							</div>
							</div> -->

							<div class="card" id="aadhar"><div class="card-header">
								<h2 class="mb-0">Aadhar Details</h2>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">Aadhar number</label>
											<input type="text" class="aadhar aadhar-id form-control" name="aadhar-id" placeholder="Enter aadhar number" required> 
										</div>
			
										<div class="form-group">
											<label class="form-label">Name</label>
											<input type="text" class="aadhar aadhar-name form-control" name="aadhar-name" placeholder="Enter name as per in aadhar card" required>
										</div>
			
										<div class="form-group">
											<label class="form-label">Phone number</label>
											<input type="text" class="aadhar aadhar-phone form-control" name="aadhar-phone" placeholder="Enter Phone NUmber" required>
										</div>

										<div class="form-group">
											<label class="form-label">Address</label>
											<input type="text" class="aadhar aadhar-address form-control" name="aadhar-address" placeholder="Enter Address" required>
										</div>
									</div>
								</div>
								
							</div></div>
							
							<div id="form-div"></div>
							<div class="form-group mt-2">
								<label>Select Type:</label>
								<select id="type" class="form-control select2 w-100" >
									<option selected="selected" value="pan">Pan Card</option>
									<option value="driving">Driving License</option>
								</select>
								<button id="addNew" class="btn btn-primary btn-pill mt-2 mb-1">Add</button>
							</div>
							
							<button id="mineBlock" type="Submit" class="btn btn-secondary btn-pill mt-1 mb-1">Submit</button>
							</div>
							</form>
								</div>
							</div>

							
						</div>	

							<!-- Footer -->
							<!-- <footer class="footer">
								<div class="row align-items-center justify-content-xl-between">
									<div class="col-xl-6">
										<div class="copyright text-center text-xl-left text-muted">
											<p class="text-sm font-weight-500">Copyright 2018 © All Rights Reserved. Adon Dashboard Template</p>
										</div>
									</div>
									<div class="col-xl-6">
										<p class="float-right text-sm font-weight-500">Designed &amp; Passion With: <a href="#">Spurko</a></p>
									</div>
								</div>
							</footer> -->
							<!-- Footer -->
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->

<%- include ('./partials/footer.ejs') %>
