<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Fully Responsive Bootstrap 4 Admin Dashboard Template">
	<meta name="author" content="Creative Tim">

	<!-- Title -->
	<title>Adon - Creative Admin Multipurpose Responsive Dashboard Template</title>

	<!-- Favicon -->
	<link href="/img/brand/favicon.png" rel="icon" type="image/png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">

	<!-- Icons -->
	<link href="/css/icons.css" rel="stylesheet">

	<!--Bootstrap.min css-->
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Adon CSS -->
	<link href="/css/dashboard.css" rel="stylesheet" type="text/css">

	<!-- Single-page CSS -->
	<link href="/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">

	<!-- Custom scroll bar css-->
	<link href="/plugins/customscroll/jquery.mCustomScrollbar.css" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link href="/plugins/toggle-sidebar/css/sidemenu.css" rel="stylesheet">




</head>

<body class="app sidebar-mini rtl" >
	<div id="global-loader" ></div>
	<div class="page">
		<div class="page-main">
			<!-- Sidebar menu-->
			<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
			<aside class="app-sidebar ">
				<div class="sidebar-img">
					<a class="navbar-brand" href="index-2.html"><img alt="..." class="navbar-brand-img main-logo rounded-circle" src="assets/img/faces/female/9.jpg"> <img alt="..." class="navbar-brand-img logo" src="assets/img/faces/female/9.jpg"></a>
					<ul class="side-menu">
						<!-- <li>

							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon fas fa-plus-circle"></i><span class="side-menu__label">Upload Request</span></a>
						</li> -->
						<li>

							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon fas fa-hourglass-end"></i><span class="side-menu__label">Request Status</span></a>
						</li>
						<li>

							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon  fas fa-comment-dots"></i><span class="side-menu__label">Notifications</span></a>
						</li>
						<li>

							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon fa fa-question-circle"></i><span class="side-menu__label">Help & Support</span></a>
						</li>
						<li>
							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon fas fa-cog"></i><span class="side-menu__label">Settings</span class="side-menu__label"></a>
						</li>
						<li>
							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio" ><i class="side-menu__icon fa fa-power-off"></i><span class="side-menu__label">Logout</span></a>
						</li>
						
					</ul>
				</div>
			</aside>
			<!-- Sidebar menu-->

			<!-- app-content-->
			<div class="app-content ">
				<div class="side-app">
					<div class="main-content">
						<div class="p-2 d-block d-sm-none navbar-sm-search">
							<!-- Form -->
							<form class="navbar-search navbar-search-dark form-inline ml-lg-auto">
								<div class="form-group mb-0">
									
								</div>
							</form>
						</div>
						<!-- Top navbar -->
						<nav class="navbar navbar-top  navbar-expand-md navbar-dark" id="navbar-main">
							<div class="container-fluid">
								<a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>

								<!-- Horizontal Navbar -->
								<ul class="navbar-nav align-items-left d-none d-xl-block">
									<li class="nav-item dropdown">
										<a aria-expanded="false" aria-haspopup="true" class="nav-link pr-md-0 mr-md-2 pl-1 d-lg-block" data-toggle="dropdown" href="#" role="button">
											<h2>Blockchain Security</h2>
										</a>
									</li>
									
								</ul>

								<!-- Brand -->
								<a class="navbar-brand pt-0 d-md-none" href="index-2.html">
									<img src="assets/img/brand/logo-dark.png" class="navbar-brand-img" alt="...">
								</a>
								
								<!-- User -->
								<ul class="navbar-nav align-items-center ">
									<li class="nav-item d-none d-md-flex">
										<a class="side-menu__item" href="homepage.html"><i class="side-menu__icon fa fa-power-off"></i><span class="side-menu__label"></span></a>
									</li>
									
									<li class="nav-item dropdown d-none d-md-flex">
										<a aria-expanded="false" aria-haspopup="true" title="languages" class="nav-link pr-0" data-toggle="dropdown" href="#" role="button">
										<div class="media align-items-center">
											<i class="fe fe-flag f-30 "></i>
										</div></a>
										<div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow dropdown-menu-right">
											<a href="#" class="dropdown-item d-flex align-items-center">
												<img src="assets/img/flag-img/ind.png" alt="flag-img" class="avatar avatar-sm mr-3 align-self-center">
												<div>
													<strong>Hindi</strong>
												</div>
											</a>
											<a href="#" class="dropdown-item d-flex align-items-center">
												<img src="assets/img/flag-img/us.jpeg" alt="flag-img" class="avatar avatar-sm mr-3 align-self-center">
												<div>
													<strong>English</strong>
												</div>
											</a>
											
										</div>
									</li>
									
									<li class="nav-item d-none d-md-flex">
										<div class="dropdown d-none d-md-flex mt-2 ">
											<a class="nav-link full-screen-link  pr-0">
												<i class="fe fe-maximize-2 floating " id="fullscreen-button"></i>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</nav>
						<!-- Top navbar-->

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<h3 class="mb-sm-0">Authourization Dashboard</h3>
								<!-- <ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#"><i class="fe fe-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">Basic Forms</li>
								</ol> -->
							</div>

							
											
						<div id="temptest" class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">User Details</h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-label">Enter Name</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter name here">
													</div>

													<div class="form-group">
														<label class="form-label">Mail Id</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter mail id here">
													</div>

													<div class="form-group">
														<label class="form-label">Phone Number</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter phone number here">
													</div>
													
													
												</div>
											</div>

											
											
										</div>
										
							</div>

							<div class="btn-group mt-1 mb-1">
								<button style="width:150px; height: 50px;"type="button" id="addNew" class="btn btn-danger">Add new</button>
								<button style="width:50px; height: 50px;" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
							<div class="dropdown-menu">
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck1" type="checkbox">
									<label class="custom-control-label" for="cardCheck1">Aadhar Card</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck2" type="checkbox" >
									<label class="custom-control-label" for="cardCheck2">Driving Licence</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck3" type="checkbox" >
									<label class="custom-control-label" for="cardCheck3">Passport</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck4" type="checkbox" >
									<label class="custom-control-label" for="cardCheck4">Pan Card</label>
								</div>
							</div>
							</div>
							<button style="margin: 20px;width:150px; height: 50px;" type="Submit" class="btn btn-secondary btn-pill mt-1 mb-1">Submit</button>
						</div>	

							<!-- Footer -->
							<!-- <footer class="footer">
								<div class="row align-items-center justify-content-xl-between">
									<div class="col-xl-6">
										<div class="copyright text-center text-xl-left text-muted">
											<p class="text-sm font-weight-500">Copyright 2018 © All Rights Reserved. Adon Dashboard Template</p>
										</div>
									</div>
									<div class="col-xl-6">
										<p class="float-right text-sm font-weight-500">Designed &amp; Passion With: <a href="#">Spurko</a></p>
									</div>
								</div>
							</footer> -->
							<!-- Footer -->
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
		</div>
	</div>
	
	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Adon Scripts -->
	<!-- Core -->
	
	
	<script src="/plugins/jquery/dist/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#addNew").click(function(){
				
				if($("#cardCheck1").prop("checked") == true){
					const aadharHtml = 	`<div id="aadhar"><div class="card-header">
							<h2 class="mb-0">Aadhar Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Aadhar number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter aadhar number">
									</div>

									<div class="form-group">
										<label class="form-label">Aadhar name</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter name as per in aadhar card">
									</div>

									<div class="form-group">
										<label class="form-label">Date of Birth</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter DOB here">
									</div>
								</div>
							</div>
							<button type="button" id="aadharRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(aadharHtml);
					
				}
				if($("#cardCheck2").prop("checked") == true){
					const drivinglicenceHtml = `<div id="DL"><div class="card-header">
							<h2 class="mb-0">Driving licence Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">DL number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter licence number">
									</div>
								</div>
							</div>
							<button type="button" id="DLRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(drivinglicenceHtml);
					
				}
				if($("#cardCheck3").prop("checked") == true){
					const passportHtml = `<div id="passport"><div class="card-header">
							<h2 class="mb-0">Passport Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Passport ID</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter passport ID">
									</div>

									<div class="form-group">
										<label class="form-label">Name</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter name as per in passport">
									</div>

								
								</div>
							</div>
							<button type="button" id="passportRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(passportHtml);
					
				}
				if($("#cardCheck4").prop("checked") == true){

					const panHtml = `<div id="pan"><div class="card-header">
							<h2 class="mb-0">Pan Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Pan number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter pan number">
									</div>

								</div>
							</div>
							<button type="button" id="panRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(panHtml);
					
				}

				$("#aadharRemover").click(function(){
					console.log("inside aadhar remover");
					$("#aadhar").remove();
				})
				$("#DLRemover").click(function(){
					console.log("inside aadhar remover");
					$("#DL").remove();
				})
				$("#passportRemover").click(function(){
					console.log("inside aadhar remover");
					$("#passport").remove();
				})
				$("#panRemover").click(function(){
					console.log("inside aadhar remover");
					$("#pan").remove();
				})
			})

			
		})
	</script>

	<!-- Optional JS -->
	<script src="/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="/plugins/chart.js/dist/Chart.extension.js"></script>

	<!-- Data tables -->
	<script src="/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatable/dataTables.bootstrap4.min.js"></script>

	<!-- Fullside-menu Js-->
	<script src="/plugins/toggle-sidebar/js/sidemenu.js"></script>

	<!-- Custom scroll bar Js-->
	<script src="/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Adon JS -->
	<script src="/js/custom.js"></script>
</body>

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
</html>