<%- include ('./partials/header.ejs') %>

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<h3 class="mb-sm-0">Authourization Dashboard</h3>
								<!-- <ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#"><i class="fe fe-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">Basic Forms</li>
								</ol> -->
							</div>

							
											
						<div id="temptest" class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">User Details</h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-label">Enter Name</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter name here">
													</div>

													<div class="form-group">
														<label class="form-label">Mail Id</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter mail id here">
													</div>

													<div class="form-group">
														<label class="form-label">Phone Number</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="Enter phone number here">
													</div>
													
													
												</div>
											</div>

											
											
										</div>
										
							</div>

							<div class="btn-group mt-1 mb-1">
								<button style="width:150px; height: 50px;"type="button" id="addNew" class="btn btn-danger">Add new</button>
								<button style="width:50px; height: 50px;" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
							<div class="dropdown-menu">
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck1" type="checkbox">
									<label class="custom-control-label" for="cardCheck1">Aadhar Card</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck2" type="checkbox" >
									<label class="custom-control-label" for="cardCheck2">Driving Licence</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck3" type="checkbox" >
									<label class="custom-control-label" for="cardCheck3">Passport</label>
								</div>
								<div style="margin: 10px;" class="custom-control custom-checkbox mb-3">
									<input class="custom-control-input" id="cardCheck4" type="checkbox" >
									<label class="custom-control-label" for="cardCheck4">Pan Card</label>
								</div>
							</div>
							</div>
							<button style="margin: 20px;width:150px; height: 50px;" type="Submit" class="btn btn-secondary btn-pill mt-1 mb-1">Submit</button>
						</div>	

							<!-- Footer -->
							<!-- <footer class="footer">
								<div class="row align-items-center justify-content-xl-between">
									<div class="col-xl-6">
										<div class="copyright text-center text-xl-left text-muted">
											<p class="text-sm font-weight-500">Copyright 2018 © All Rights Reserved. Adon Dashboard Template</p>
										</div>
									</div>
									<div class="col-xl-6">
										<p class="float-right text-sm font-weight-500">Designed &amp; Passion With: <a href="#">Spurko</a></p>
									</div>
								</div>
							</footer> -->
							<!-- Footer -->
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
<<<<<<< HEAD
		</div>
	</div>
	
	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Adon Scripts -->
	<!-- Core -->
	
	
	<script src="/plugins/jquery/dist/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#addNew").click(function(){
				
				if($("#cardCheck1").prop("checked") == true){
					const aadharHtml = 	`<div id="aadhar"><div class="card-header">
							<h2 class="mb-0">Aadhar Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Aadhar number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter aadhar number">
									</div>

									<div class="form-group">
										<label class="form-label">Aadhar name</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter name as per in aadhar card">
									</div>

									<div class="form-group">
										<label class="form-label">Date of Birth</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter DOB here">
									</div>
								</div>
							</div>
							<button type="button" id="aadharRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(aadharHtml);
					
				}
				if($("#cardCheck2").prop("checked") == true){
					const drivinglicenceHtml = `<div id="DL"><div class="card-header">
							<h2 class="mb-0">Driving licence Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">DL number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter licence number">
									</div>
								</div>
							</div>
							<button type="button" id="DLRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(drivinglicenceHtml);
					
				}
				if($("#cardCheck3").prop("checked") == true){
					const passportHtml = `<div id="passport"><div class="card-header">
							<h2 class="mb-0">Passport Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Passport ID</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter passport ID">
									</div>

									<div class="form-group">
										<label class="form-label">Name</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter name as per in passport">
									</div>

								
								</div>
							</div>
							<button type="button" id="passportRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(passportHtml);
					
				}
				if($("#cardCheck4").prop("checked") == true){

					const panHtml = `<div id="pan"><div class="card-header">
							<h2 class="mb-0">Pan Details</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div id="temptest" class="col-md-6">
									<div class="form-group">
										<label class="form-label">Pan number</label>
										<input type="text" class="form-control" name="example-text-input" placeholder="Enter pan number">
									</div>

								</div>
							</div>
							<button type="button" id="panRemover" class="btn btn-outline-danger mt-1 mb-1">remove</button>
						</div></div>`;
					$("#temptest").append(panHtml);
					
				}

				$("#aadharRemover").click(function(){
					console.log("inside aadhar remover");
					$("#aadhar").remove();
				})
				$("#DLRemover").click(function(){
					console.log("inside aadhar remover");
					$("#DL").remove();
				})
				$("#passportRemover").click(function(){
					console.log("inside aadhar remover");
					$("#passport").remove();
				})
				$("#panRemover").click(function(){
					console.log("inside aadhar remover");
					$("#pan").remove();
				})
			})

			
		})
	</script>

	<!-- Optional JS -->
	<script src="/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="/plugins/chart.js/dist/Chart.extension.js"></script>

	<!-- Data tables -->
	<script src="/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatable/dataTables.bootstrap4.min.js"></script>

	<!-- Fullside-menu Js-->
	<script src="/plugins/toggle-sidebar/js/sidemenu.js"></script>

	<!-- Custom scroll bar Js-->
	<script src="/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Adon JS -->
	<script src="/js/custom.js"></script>
</body>

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
</html>
=======
<%- include ('./partials/footer.ejs') %>
>>>>>>> 8f5ffbc2077582553b7a4b75bb6e4744a38018fe
