<%- include ('./partials/header.ejs') %>

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<ul class="nav nav-tabs" id="myTab2" role="tablist">
												<li class="nav-item">
													<a class="nav-link active show" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-selected="true">Documents</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-selected="false">Profile</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-selected="false">History</a>
												</li>
											</ul>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="card shadow ">
<!-- 										< -->
										<div class="card-body">
											
											<div class="tab-content tab-bordered" id="myTab2Content">
												<div class="tab-pane fade active show text-sm" id="home2" role="tabpanel" aria-labelledby="home-tab2">
													<div class="row">
													<div class="col-md-12 col-lg-4">
														<div class="card shadow">
															<div class="card-body">
															<h4 class="card-title">Card title</h4>
															
															</div>
														</div>
													</div>
									<div class="col-md-12 col-lg-4">
										<div class="card shadow">
											<div class="card-body">
												<h4 class="card-title">Card title</h4>
												
											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-4">
										<div class="card shadow">
											<div class="card-body">
												<h4 class="card-title">Card title</h4>
												
											</div>
										</div>
									</div>

										</div>
													
												</div>
												<div class="tab-pane fade text-sm" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
													<div class="col-lg-4 col-sm-12">
										<div class="card  shadow ">
											<img class="card-img-top img-fluid" src="/img/photos/3.jpg" alt="Card image cap">
											<!-- <div class="card-body">
												<h4 class="card-title">N</h4>
												<p class="card-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus hic tenetur delectus.</p>
											</div> -->
										</div>
									</div>
													
												</div>
												<div class="tab-pane fade text-sm" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
													<div class="">
								<div class="row">
									<div class="col-md-12">
										<ul class="cbp_tmtimeline">
											<li>
												<time class="cbp_tmtime" datetime="2017-11-04T18:30"><span class="hidden">25/11/2018</span> <span class="large">Now</span></time>
												<div class="cbp_tmicon bg-primary"><i class="zmdi zmdi-account"></i></div>
												<div class="cbp_tmlabel empty"> <span>No Activity</span> </div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>03:45 AM</span> <span>Today</span></time>
												<div class="cbp_tmicon bg-yellow"><i class="zmdi zmdi-label"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Art Ramadani</a> <span>posted a status update</span></h2>
													<p class="text-sm">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-03T13:22"><span>01:22 PM</span> <span>Yesterday</span></time>
												<div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Job Meeting</a></h2>
													<p class="text-sm">You have a meeting at <strong>Laborator Office</strong> Today.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Arlind Nushi</a> <span>checked in at</span> <a href="javascript:void(0);">New York</a></h2>
													<blockquote>
														<p class="blockquote blockquote-primary text-sm">
															"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
															<br>
															<small>
																- Isabella
															</small>
														</p>
													</blockquote>
													<div class="row clearfix">
														<div class="col-lg-12">
															<div class="map m-t-10">
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477011208!2d-74.11976308802028!3d40.69740344230033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1508039335245" class="border-0 w-100" ></iframe>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-orange"><i class="zmdi zmdi-camera"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Eroll Maxhuni</a> <span>uploaded</span> 4 <span>new photos to album</span> <a href="javascript:void(0);">Summer Trip</a></h2>
													<blockquote class="text-sm">Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>
													<div class="row">
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"><img src="/img/photos/1.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="/img/photos/2.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="/img/photos/3.jpg" alt="" class="img-fluid img-thumbnail m-t-30"> </a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="/img/photos/4.jpg" alt="" class="img-fluid img-thumbnail m-t-30"> </a> </div>
													</div>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-03T13:22"><span>01:22 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Job Meeting</a></h2>
													<p class="text-sm">You have a meeting at <strong>Laborator Office</strong> Today.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Month ago</span></time>
												<div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Arlind Nushi</a> <span>checked in at</span> <a href="javascript:void(0);">Laborator</a></h2>
													<blockquote class="mb-0 text-sm">Great place, feeling like in home.</blockquote>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

							<!-- Footer -->
							<!-- <footer class="footer">
								<div class="row align-items-center justify-content-xl-between">
									<div class="col-xl-6">
										<div class="copyright text-center text-xl-left text-muted">
											<p class="text-sm font-weight-500">Copyright 2018 © All Rights Reserved. Adon Dashboard Template</p>
										</div>
									</div>
									<div class="col-xl-6">
										<p class="float-right text-sm font-weight-500">Designed &amp; Passion With: <a href="#">Spurko</a></p>
									</div>
								</div>
							</footer> -->
							<!-- Footer -->
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
<%- include ('./partials/footer.ejs') %>
