<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Fully Responsive Bootstrap 4 Admin Dashboard Template">
	<meta name="author" content="Creative Tim">

	<!-- Title -->
	<title>Adon - Creative Admin Multipurpose Responsive Dashboard Template</title>

	<!-- Favicon -->
	<link href="assets/img/brand/favicon.png" rel="icon" type="image/png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">

	<!-- Icons -->
	<link href="assets/css/icons.css" rel="stylesheet">

	<!--Bootstrap.min css-->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Adon CSS -->
	<link href="assets/css/dashboard.css" rel="stylesheet" type="text/css">

	<!-- Single-page CSS -->
	<link href="assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">

	<!-- Custom scroll bar css-->
	<link href="assets/plugins/customscroll/jquery.mCustomScrollbar.css" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link href="assets/plugins/toggle-sidebar/css/sidemenu.css" rel="stylesheet">

</head>

<body class="app sidebar-mini rtl" >
	<div id="global-loader" ></div>
	<div class="page">
		<div class="page-main">
			<!-- Sidebar menu-->
			<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
			<aside class="app-sidebar ">
				<div class="sidebar-img">
					<a class="navbar-brand" href="index-2.html"><img alt="..." class="navbar-brand-img main-logo rounded-circle" src="assets/img/faces/female/9.jpg"> <img alt="..." class="navbar-brand-img logo" src="assets/img/faces/female/9.jpg"></a>
					<ul class="side-menu">
						
						<li>

							<a class="side-menu__item" href="https://themeforest.net/user/sprukotechnologies/portfolio"><i class="side-menu__icon fa fa-question-circle"></i><span class="side-menu__label">Help & Support</span></a>
						</li>
						<li>
							<a class="side-menu__item" ><i class="side-menu__icon fas fa-cog"></i><span class="side-menu__label">Settings</span class="side-menu__label"></a>
						</li>
						<li>
							<a class="side-menu__item" ><i class="side-menu__icon fa fa-power-off"></i><span class="side-menu__label">Logout</span></a>
						</li>
						
					</ul>
				</div>
			</aside>
			<!-- Sidebar menu-->

			<!-- app-content-->
			<div class="app-content ">
				<div class="side-app">
					<div class="main-content">
						<div class="p-2 d-block d-sm-none navbar-sm-search">
							<!-- Form -->
							<form class="navbar-search navbar-search-dark form-inline ml-lg-auto">
								<div class="form-group mb-0">
									
								</div>
							</form>
						</div>
						<!-- Top navbar -->
						<nav class="navbar navbar-top  navbar-expand-md navbar-dark" id="navbar-main">
							<div class="container-fluid">
								<a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>

								<!-- Horizontal Navbar -->
								<ul class="navbar-nav align-items-left d-none d-xl-block">
									<li class="nav-item dropdown">
										<a aria-expanded="false" aria-haspopup="true" class="nav-link pr-md-0 mr-md-2 pl-1 d-lg-block" data-toggle="dropdown" href="#" role="button">
											Blockchain Security
										</a>
									</li>
									
								</ul>

								<!-- Brand -->
								<a class="navbar-brand pt-0 d-md-none" href="index-2.html">
									<img src="assets/img/brand/logo-dark.png" class="navbar-brand-img" alt="...">
								</a>
								
								<!-- User -->
								<ul class="navbar-nav align-items-center ">
									<li>
										<a class="side-menu__item" href="homepage.html"><i class="side-menu__icon fa fa-power-off"></i><span class="side-menu__label"></span></a>
									</li>
									
									<li class="nav-item dropdown d-none d-md-flex">
										<a aria-expanded="false" aria-haspopup="true" title="languages" class="nav-link pr-0" data-toggle="dropdown" href="#" role="button">
										<div class="media align-items-center">
											<i class="fe fe-flag f-30 "></i>
										</div></a>
										<div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow dropdown-menu-right"><a href="#" class="dropdown-item d-flex align-items-center">
												<img src="assets/img/flag-img/french_flag.jpg" alt="flag-img" class="avatar avatar-sm mr-3 align-self-center">
												<div>
													<strong>English</strong>
												</div>
											</a>
											<a href="#" class="dropdown-item d-flex align-items-center">
												<img src="assets/img/flag-img/germany_flag.jpg" alt="flag-img" class="avatar avatar-sm mr-3 align-self-center">
												<div>
													<strong>Hindi</strong>
												</div>
											</a>
											
										</div>
									</li>
									
									<li class="nav-item d-none d-md-flex">
										<div class="dropdown d-none d-md-flex mt-2 ">
											<a class="nav-link full-screen-link  pr-0">
												<i class="fe fe-maximize-2 floating " id="fullscreen-button"></i>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</nav>
						<!-- Top navbar-->

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<ul class="nav nav-tabs" id="myTab2" role="tablist">
												<li class="nav-item">
													<a class="nav-link active show" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-selected="true">Documents</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-selected="false">Profile</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-selected="false">History</a>
												</li>
											</ul>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="card shadow ">
<!-- 										< -->
										<div class="card-body">
											
											<div class="tab-content tab-bordered" id="myTab2Content">
												<div class="tab-pane fade active show text-sm" id="home2" role="tabpanel" aria-labelledby="home-tab2">
													<div class="row">
													<div class="col-md-12 col-lg-4">
														<div class="card shadow">
															<div class="card-body">
															<h4 class="card-title">Card title</h4>
															
															</div>
														</div>
													</div>
									<div class="col-md-12 col-lg-4">
										<div class="card shadow">
											<div class="card-body">
												<h4 class="card-title">Card title</h4>
												
											</div>
										</div>
									</div>
									<div class="col-md-12 col-lg-4">
										<div class="card shadow">
											<div class="card-body">
												<h4 class="card-title">Card title</h4>
												
											</div>
										</div>
									</div>

										</div>
													
												</div>
												<div class="tab-pane fade text-sm" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
													<div class="col-lg-4 col-sm-12">
										<div class="card  shadow ">
											<img class="card-img-top img-fluid" src="assets/img/photos/3.jpg" alt="Card image cap">
											<!-- <div class="card-body">
												<h4 class="card-title">N</h4>
												<p class="card-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus hic tenetur delectus.</p>
											</div> -->
										</div>
									</div>
													
												</div>
												<div class="tab-pane fade text-sm" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
													<div class="">
								<div class="row">
									<div class="col-md-12">
										<ul class="cbp_tmtimeline">
											<li>
												<time class="cbp_tmtime" datetime="2017-11-04T18:30"><span class="hidden">25/11/2018</span> <span class="large">Now</span></time>
												<div class="cbp_tmicon bg-primary"><i class="zmdi zmdi-account"></i></div>
												<div class="cbp_tmlabel empty"> <span>No Activity</span> </div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>03:45 AM</span> <span>Today</span></time>
												<div class="cbp_tmicon bg-yellow"><i class="zmdi zmdi-label"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Art Ramadani</a> <span>posted a status update</span></h2>
													<p class="text-sm">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-03T13:22"><span>01:22 PM</span> <span>Yesterday</span></time>
												<div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Job Meeting</a></h2>
													<p class="text-sm">You have a meeting at <strong>Laborator Office</strong> Today.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Arlind Nushi</a> <span>checked in at</span> <a href="javascript:void(0);">New York</a></h2>
													<blockquote>
														<p class="blockquote blockquote-primary text-sm">
															"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
															<br>
															<small>
																- Isabella
															</small>
														</p>
													</blockquote>
													<div class="row clearfix">
														<div class="col-lg-12">
															<div class="map m-t-10">
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477011208!2d-74.11976308802028!3d40.69740344230033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1508039335245" class="border-0 w-100" ></iframe>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-orange"><i class="zmdi zmdi-camera"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Eroll Maxhuni</a> <span>uploaded</span> 4 <span>new photos to album</span> <a href="javascript:void(0);">Summer Trip</a></h2>
													<blockquote class="text-sm">Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>
													<div class="row">
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"><img src="assets/img/photos/1.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="assets/img/photos/2.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="assets/img/photos/3.jpg" alt="" class="img-fluid img-thumbnail m-t-30"> </a> </div>
														<div class="col-lg-3 col-md-6 col-6"><a href="javascript:void(0);"> <img src="assets/img/photos/4.jpg" alt="" class="img-fluid img-thumbnail m-t-30"> </a> </div>
													</div>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-11-03T13:22"><span>01:22 PM</span> <span>Two weeks ago</span></time>
												<div class="cbp_tmicon bg-green"> <i class="zmdi zmdi-case"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Job Meeting</a></h2>
													<p class="text-sm">You have a meeting at <strong>Laborator Office</strong> Today.</p>
												</div>
											</li>
											<li>
												<time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>12:13 PM</span> <span>Month ago</span></time>
												<div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-pin"></i></div>
												<div class="cbp_tmlabel">
													<h2><a href="javascript:void(0);">Arlind Nushi</a> <span>checked in at</span> <a href="javascript:void(0);">Laborator</a></h2>
													<blockquote class="mb-0 text-sm">Great place, feeling like in home.</blockquote>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

							<!-- Footer -->
							<!-- <footer class="footer">
								<div class="row align-items-center justify-content-xl-between">
									<div class="col-xl-6">
										<div class="copyright text-center text-xl-left text-muted">
											<p class="text-sm font-weight-500">Copyright 2018 © All Rights Reserved. Adon Dashboard Template</p>
										</div>
									</div>
									<div class="col-xl-6">
										<p class="float-right text-sm font-weight-500">Designed &amp; Passion With: <a href="#">Spurko</a></p>
									</div>
								</div>
							</footer> -->
							<!-- Footer -->
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
		</div>
	</div>
	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Adon Scripts -->
	<!-- Core -->
	<script src="assets/plugins/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Optional JS -->
	<script src="assets/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="assets/plugins/chart.js/dist/Chart.extension.js"></script>

	<!-- Data tables -->
	<script src="assets/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>

	<!-- Fullside-menu Js-->
	<script src="assets/plugins/toggle-sidebar/js/sidemenu.js"></script>

	<!-- Custom scroll bar Js-->
	<script src="assets/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Adon JS -->
	<script src="assets/js/custom.js"></script>
</body>

<!-- Mirrored from spruko.com/demo/adon/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Dec 2018 09:46:44 GMT -->
</html>
