<%- include ('./partials/header.ejs') %>

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0  p-3">
								<h3 class="mb-sm-0">User Dashboard</h3>
								<!-- <ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#"><i class="fe fe-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">Basic Forms</li>
								</ol> -->
							</div>

							<div class=" card card shadow">
								<div class="card-body">
									<form action="/user/details" method="GET">
									<div class="form-group">
										<label class="form-label">Reference Number</label>
										<input type="text" id= "referenceNo" class="form-control" name="referenceNo" placeholder="Enter Number">
										<button type="submit" class="btn btn-primary mt-2">Get Details</button>
									</div>

									</form>
								</div>
							</div>
					
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
<%- include ('./partials/footer.ejs') %>
