<%- include ('./partials/header.ejs') %>

						<!-- Page content -->
						<div class="container-fluid pt-8">
							
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Verify Users</h2>
										</div>
										<div class="card-body">
											<!-- <div id="phone-otp-verification" class="form-group">
												<label class="form-label">Phone</label>
												<input type="text" id= "phone" class="form-control" name="example-text-input" placeholder="Enter Number">
												<button onclick="sendOTP()" class="btn btn-primary mt-2">Send OTP</button>
												<div style="display: none;" class="mt-5 verify-otp-div">
													<label class="form-label">Enter OTP</label>
													<input type="text" id="otp" class="form-control" name="example-text-input" placeholder="Enter OTP">
													<button onclick="verifyOTP()" class="btn btn-primary mt-2">Verify OTP</button>
												</div>
											</div> -->
											<div  id="reference-verification" class="form-group">
												<label class="form-label">Enter Reference Number: </label>
												<input type="text" id= "reference" class="form-control" name="example-text-input" placeholder="Enter Reference Number">
												<div class="form-group mt-2">
													<label>Select Type:</label>
													<select id="type" class="form-control select2 w-100" >
														<option value="aadhar" selected="selected">Aadhar Card</option>
														<option value="voter">Voter Card</option>
														<option value="pan">Pan Card</option>
														<option value="passport">Passport Card</option>
													</select>
												</div>
												<script>
													function dropSelect(r){ 
														$('.dropdown-toggle').html(r);
													  }
												</script>
												<label>Enter Id:</label>
												<input type="text" id= "idnumber" class="form-control" name="example-text-input" placeholder="Enter Id Number">
												<button onclick="verifyReferenceNo()" class="btn btn-primary mt-2">Verify Details</button>
											</div>	
											
											<div style="display: none;" id="reference-details" class="form-group">
												<img id="user-image" src="" alt="" name="userimg">
												<div class="details-div"></div>
												<button onclick="physicalVerify()" class="btn btn-primary mt-2">Done</button>
											</div>
										</div>
									</div>
								</div>

							
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->


	<script type="text/javascript">
		// function sendOTP(){
		// 	var phone = Number($('#phone').val());
		// 	if(phone && String(phone).length === 10) {
		// 		$.post("/api/otp/send",
		// 		{
		// 			phone
		// 		},
		// 		function(data, status){
		// 			swal({
		// 				title: "Success",
		// 				text: "OTP sent successfully!",
		// 				type: "success"
		// 			});
		// 			$(".verify-otp-div").show();
		// 		});
		// 	} else {
		// 		swal({
		// 				title: "Error",
		// 				text: "Please enter valid phone",
		// 				type: "error"
		// 			});
		// 	}

		// }



		// function verifyOTP(){
		// 	var phone = Number($('#phone').val());
		// 	var otp = Number($('#otp').val());
		// 	if(phone && String(phone).length === 10 && otp && String(otp).length === 4) {
		// 		$.post("/api/otp/verify",
		// 		{
		// 			phone,
		// 			otp
		// 		},
		// 		function(data, status){
		// 			swal({
		// 				title: "Success",
		// 				text: "OTP verification successfull!",
		// 				type: "success"
		// 			});
		// 			$("#phone-otp-verification").hide();
		// 			$("#reference-verification").show();
		// 		});
		// 	} else {
		// 		swal({
		// 				title: "Error",
		// 				text: "Error in phone and otp",
		// 				type: "error"
		// 			});
		// 	}

		// }

		function verifyReferenceNo() {
			var referenceNo = $('#reference').val();
			var id = $('#idnumber').val();
			var type = $('#type option:selected').val();
			if(referenceNo && referenceNo.length === 10 && type) {
				$.post("/api/block/details",
				{
					referenceNo,
					type,
					id
				},
				function(data, status){
					$("#reference-verification").hide();
					userDetails(data.data)
					$("#reference-details").show();
				});
			} else {
				swal({
					title: "Error",
					text:"Error in phone and otp",
					type: "error"
				});
			}
		}

		function userDetails(data){
		
			var objectKeys = Object.keys(data);
			for(var i=0;i<objectKeys.length;i++) {
				if(objectKeys[i] === "imageUrl") {
					var img = document.createElement('img');
					img.src = data[objectKeys[i]];
					$(".details-div").append(img);
				} else {
					var dataThing = `<p>${objectKeys[i].toUpperCase()}: ${data[objectKeys[i]]}</p>`;
				$(".details-div").append(dataThing);
				} 
			}

		}

		function physicalVerify() {
			window.location.reload()
		}

		function verifyIdentification(){
			var referenceNo = $('#reference').val();
			var type = $('#type option:selected').val();
			var id = $('#idnumber').val();

			if(referenceNo && referenceNo.length === 10 && type && id) {
				$.post("/api/block/verify",
				{
					referenceNo,
					id,
					type
				},
				function(data, status){
					if(data.message === "Match") {
						swal({
							title: "Success",
							text: data.message,
							type: "success"
						});
					} else {
							swal({
							title: "Error",
							text: data.message,
							type: "error"
						});
					}
					setTimeout(function() {
						window.location.reload()
					}, 5000); 
				});
			} else {
				swal({
					title: "Error",
					text:"Error in phone and otp",
					type: "error"
				});
			}
		}
	</script>

	

<%- include ('./partials/footer.ejs') %>